
#video{
    position:flex ;
    width: 100%;
    height: 100%;
    object-fit:cover ;
    z-index: -1;
}
.print3d{
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.print3d .content {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 45vh;
}

.print3d .content h1{
    font-size: 4rem;
    color:#fff;
}

.print3d p{
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color:#fff;
}

.print3d .btn{
    margin: 1rem .3rem;
}

@media   screen and (max-width:640px){
        .content h1{
            font-size: 3rem;
        }

        .content p{
            font-size: 1.4rem;
            margin-bottom: 1.6rem;
        }
}